body{
    background-color: azure;
    
}
.c-header{
    display: flex;
    margin: 10px;
    
}
.card{
    background-color: aquamarine;
    padding: 80px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ;

}
img{
    width: 100px;
    border-radius: 50%;
    flex-direction:;
    margin-top: 10px;
    

}